*{
    box-sizing:border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --myRed:rgb(255 84 84);
    --myWhite:#f1f1f1;
    --myBlack:#2c3340;
}

h1{
    font-weight:bold;
    font-size:250%;
    text-align:center;
    padding: 20px;
    background:var(--myBlack);
    color:var(--myRed);
}
body{
    background:#aab2c0;
    position:relative;
}

.content{
    position:absolute;
    width:70%;
    height:100%;
    margin-left:24%;
    margin-right:10%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
}

.myWork{
    font-size:150%;
    display:flex;
    flex-direction:column;


}

nav ul{
    border-bottom:3px solid;
    list-style:none;
    margin:0;
    padding: 10;
    overflow:hidden;
    background-color:rgb(202, 230, 255);
}
 li{
    float: right;

}
nav li a {
    display:flex;
    flex-wrap:wrap;
    color:var(--myRed);
    text-align:center;
    padding: 13px 16px;
    text-decoration: none;
    font-size:150%;
}
h2{
    text-align:left;
    font-size:200%;
}
.sidebar{
    display:block;
    height:100%;
    width:190px;
    position:absolute;
    left:0;
    top:131px;
    padding-top: 40px;
    background-color:var(--myWhite);
    border-right:solid;
    border-top:solid;
}

.sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    height:100%;
    width:200px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.contactMe li{
    list-style:none;
    text-align:center;
    font-size:180%;
    justify-content:space-evenly;
    padding:13px 16px;
}

.myWork li{
    padding:6px 16px;
}
